# conditional statements

In [ ]:
x=10

if x>3:
    print("hi")
    print("bye")

In [22]:
x=float(input("type your height is "))
if x>50:
    print(" taller ")

type your height is 55.2
 taller

In [20]:
y=input("enter your string ")
if y.isalpha():
    print("your string have all alphabets ")

enter your string asdfghj
your string have all alphabets

In [23]:
x=10

if x<11:
    print("greater")
else:
    print("lesser")

greater

In [24]:
x=10

if x<1:
    print("greater")
else:
    print("lesser")

lesser

In [3]:
x=10

if x>=10 and x%5==0 and x%2==0:
    print("greater")
else:
    print("lesser")

greater

In [4]:
x=int(input("type any number"))

if x>=10 and x%5==0 and x%2==0:
    print("value greater than 10 and divisible by both 5 and 2")
else:
    print("your value is not satisfy the condition")

type any number23
your value is not satisfy the condition

In [7]:
x=25

if x<23 or x%5==2 or x%2==0:
    print("your value is true")
else:
    print("your value is false")

your value is false

In [9]:
x=float(input("my weight is "))

if (x<50 and x%2==0 and x%5==0):
    print("your are under weight")
else:
    print("your are over weight")

my weight is 40
your are under weight

In [1]:
x=int(input("type your number"))

if x<=10:
    print("value is greater than equal to 10")
elif x%5==0:
    print("value is divided by 5")
elif x%2==0:
    print("value is divided by 2")
else:
    print("not satisfy any condition")

type your number20
value is divided by 5

In [2]:
t_m=int(input("type your total marks :"))
s_m=int(input("type your science marks :"))

if t_m>80 and s_m>90:
    print("you got place in c1")
elif t_m>50:
    print("you got placed in c2")
elif s_m>30:
    print("you got placed in c3")
else:
    print("you got rejected")

type your total marks :60
type your science marks :20
you got placed in c2

In [3]:
t_m=int(input("type your total marks :"))
s_m=int(input("type your science marks :"))

if t_m>80 and s_m>90:
    print("you got place in c1")
elif t_m>50:
    print("you got placed in c2")
elif s_m>30:
    print("you got placed in c3")
else:
    print("you got rejected")

type your total marks :85
type your science marks :92
you got place in c1

In [4]:
t_m=int(input("type your total marks :"))
s_m=int(input("type your science marks :"))

if t_m>80 and s_m>90:
    print("you got place in c1")
elif t_m>50:
    print("you got placed in c2")
elif s_m>30:
    print("you got placed in c3")
else:
    print("you got rejected")

type your total marks :40
type your science marks :35
you got placed in c3

In [5]:
t_m=int(input("type your total marks :"))
s_m=int(input("type your science marks :"))

if t_m>80 and s_m>90:
    print("you got place in c1")
elif t_m>50:
    print("you got placed in c2")
elif s_m>30:
    print("you got placed in c3")
else:
    print("you got rejected")

type your total marks :20
type your science marks :20
you got rejected

In [7]:
x=int(input("value divisible by 3:"))

if x%3==0:
    print("divisible by 3")
else:
    print("not divisible")

value divisible by 3:21
divisible by 3

In [1]:
num=int(input("Enter your value"))
if num%5==0:
   print("Hello")
else:
   print("Bye")

Enter your value25
Hello

In [7]:
a_v=int(input("age of the voter :"))

if a_v>=18:
    print("eligible to vote ")
else:
    print("not eligible to vote ")

age of the voter :19
eligible to vote

In [8]:
d_s=int(input("enter the value :"))

if d_s%7==0:
    print("divisible by 7 ")
else:
    print("not divisible by 7 ")

enter the value :49
divisible by 7

In [5]:
e_o=int(input("enter the value :"))

if e_o%2==0:
    print("it is even number")
else:
    print("it is odd number ")

enter the value :24
it is even number

In [1]:
x=int(input("the electricity unit is : "))

if x<=100:
    int(input("the amount of the bill is "))
if x>100 and x<=200:
    x=(x-100)*5
    int(input("the amount of the bill is "))
if x>200:
    x=500+(x-200)*10
    int(input("the amount of the bill is "))

the electricity unit is : 125
the amount of the bill is 125

In [24]:
y=int(input("enter the value  "))
if x%10==0: 
    print("last digit number is , num%10")

enter the value  100
last digit number is , num%10

In [2]:
t_m=int(input("total marks is "))

if t_m>90:
    print("got 'A' grade ")
elif t_m>80 and t_m<=90:
    print("got 'B' grade ")
elif t_m>=60 and t_m<=80:
    print("got 'C' grade ")
elif t_m<60:
    print("got 'D'grade ")

total marks is 99
got 'A' grade

In [3]:
t_m=int(input("total marks is "))

if t_m>90:
    print("got 'A' grade ")
elif t_m>80 and t_m<=90:
    print("got 'B' grade ")
elif t_m>=60 and t_m<=80:
    print("got 'C' grade ")
elif t_m<60:
    print("got 'D'grade ")

total marks is 82
got 'B' grade

In [4]:
t_m=int(input("total marks is "))

if t_m>90:
    print("got 'A' grade ")
elif t_m>80 and t_m<=90:
    print("got 'B' grade ")
elif t_m>=60 and t_m<=80:
    print("got 'C' grade ")
elif t_m<60:
    print("got 'D'grade ")

total marks is 70
got 'C' grade

In [5]:
t_m=int(input("total marks is "))

if t_m>90:
    print("got 'A' grade ")
elif t_m>80 and t_m<=90:
    print("got 'B' grade ")
elif t_m>=60 and t_m<=80:
    print("got 'C' grade ")
elif t_m<60:
    print("got 'D'grade ")

total marks is 50
got 'D'grade

In [ ]:
Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria :
    
        Cost price (in Rs)                                       Tax
        > 100000                                                  15 %
        > 50000 and <= 100000                                     10%
        <= 50000             
                                                                 5%

In [6]:
x=int(input("cost price of bike "))

if x>100000:
    print(x+0.15x)
    print("the road tax to be paid is ")
elif x>50000 and <=100000:
    print(x+0.10x)
    print("the road tax to be paid is ")
elif x<=50000:
    print(x+0.05%)
    print("the road tax to be paid is ")

SyntaxError: invalid syntax (3997077512.py, line 4)

# WHILE LOOP

In [10]:
x=0
while x<3:
    print("hi")
    x=x+1

hi
hi
hi

In [11]:
x=0
while x<3:
    print(x)
    x=x+1

0
1
2

In [12]:
x=0
while x<=10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10

In [13]:
x=10
while x>0:
    print(x)
    x=x-1

10
9
8
7
6
5
4
3
2
1

In [14]:
x=9
while x>0:
    print(x)
    x=x-3

9
6
3

In [15]:
x=0
y="abcde"
while x<5:
    print(y[x])
    x=x+1

a
b
c
d
e

In [ ]:
x=0
y=input("enter the alphabets ")
l=len(y)
while x<l:
    print(y[x])
    x=x+1

In [ ]:
#create a list containing seven elements loop through each element

In [ ]:
x=[1,2,3,4,5,6,"a"]
i=0
while i<len(x):
    print(x[i])
    i=i+1

In [ ]:
y=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
x=0
while x<len(y):
    if y[x]%2==0:
        print(y[x])
    x=x+1

In [ ]:
y=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
x=0
while x<len(y):
    if y[x]%2!=0:
        print(y[x])
    x=x+1

In [ ]:
#create a list of values and go through each element and we print square of each value

In [ ]:
x=[1,2,3,4,5,6,7,8,9]
y=0
while y<len(x):
    print(x[y]**2)
    y=y+1

In [4]:
y="abcdefghi"
x=0
while x<len(y):
    if x%2==0:
        print(y[x])
    x=x+1

a
c
e
g
i

In [13]:
y="abcdefghi"
x=0
while x<len(y):
    if x%2!=0:
        print(y[x])
    x=x+1

b
d
f
h

# BREAK KEY WORD STATEMENT:

In [3]:
x=0
while x<3:
    print(x)
    if x==1:
        break
    x=x+1

0
1

In [7]:
x=0
while x<10:
    print(x)
    if x==5:
        break
    x=x+1

0
1
2
3
4
5

In [8]:
x=0
while x<10:
    print(x)
    if x==9:
        break
    x=x+1

0
1
2
3
4
5
6
7
8
9

In [9]:
x=0
while x<3:
    print("hi")
    print("bye")
    print(x)
    x=x+1

hi
bye
0
hi
bye
1
hi
bye
2

In [12]:
x=0
while x<4:
    x=x+1
    if x==3:
        continue   
    print(x)

1
2
4

In [1]:
x=0
while x<5:
    x=x+1
    if x==4:
        continue
    print(x)

1
2
3
5